# Set Libraries

In [1]:
import pandas as pd
from statsmodels.formula.api import ols

# Nomenclature
- DSR- Direct age Standardised Rate for hospital admissions
- lcl- Lower Confidence limit
- ucl- Upper Confidence limit
- score- Index of Multiple Deprivation Score
- rank- Index of Multiple Deprivation Rank
- decile- Index of Multiple Deprivation Decile

## Merging MSOA codes and HES
### Circulatory

In [2]:
Circulatory_yearly = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllCirculatory_yearly_all.csv')

In [3]:
Circulatory_yearly[:5]

,Unnamed: 0,Disease,year,lsoa11,n,DSR,lcl,ucl,score,rank,decile
0,0,All Circulatory,2009,E01015272,29.0,1379.819824,907.973938,2002.930054,11.430000,22492,7
1,1,All Circulatory,2009,E01015273,24.0,2712.837646,1679.499756,4116.159180,33.619999,6665,3
2,2,All Circulatory,2009,E01015274,30.0,2070.800049,1386.778442,2969.841064,20.290001,13991,5
3,3,All Circulatory,2009,E01015275,37.0,3559.793457,2480.718994,4939.573242,19.780001,14447,5
4,4,All Circulatory,2009,E01015276,15.0,1460.698853,791.767883,2447.211182,26.400000,10063,4

In [4]:
Circulatory_yearly = Circulatory_yearly[['Disease', 'year', 'n', 'DSR', 'lcl', 'ucl', 'score', 'rank', 'decile', 'lsoa11']]

In [6]:
MSOA = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\LSOA_MSOA_Codes.csv')

In [7]:
MSOA = MSOA.rename(columns={'LSOA11CD':'lsoa11'})

In [8]:
MSOA[:5]

      lsoa11             LSOA11NM   MSOA11CD            MSOA11NM
0  E01000001  City of London 001A  E02000001  City of London 001
1  E01000001  City of London 001A  E02000001  City of London 001
2  E01000001  City of London 001A  E02000001  City of London 001
3  E01000001  City of London 001A  E02000001  City of London 001
4  E01000003  City of London 001C  E02000001  City of London 001

In [9]:
MSOA.shape

(181408, 4)

In [10]:
MSOA = MSOA.drop_duplicates('lsoa11')

In [11]:
Circ_MSOA = Circulatory_yearly.merge(MSOA, on='lsoa11', how = 'left')

In [12]:
Circ_MSOA[:5]

,Disease,year,n,DSR,lcl,ucl,score,rank,decile,lsoa11,LSOA11NM,MSOA11CD,MSOA11NM
0,All Circulatory,2009,29.0,1379.819824,907.973938,2002.930054,11.430000,22492,7,E01015272,Bournemouth 016A,E02003187,Bournemouth 016
1,All Circulatory,2009,24.0,2712.837646,1679.499756,4116.159180,33.619999,6665,3,E01015273,Bournemouth 016B,E02003187,Bournemouth 016
2,All Circulatory,2009,30.0,2070.800049,1386.778442,2969.841064,20.290001,13991,5,E01015274,Bournemouth 018A,E02003189,Bournemouth 018
3,All Circulatory,2009,37.0,3559.793457,2480.718994,4939.573242,19.780001,14447,5,E01015275,Bournemouth 016C,E02003187,Bournemouth 016
4,All Circulatory,2009,15.0,1460.698853,791.767883,2447.211182,26.400000,10063,4,E01015276,Bournemouth 016D,E02003187,Bournemouth 016

In [13]:
Circ_MSOA.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Circ_MSOA_Y.csv')

### Respiratory

In [13]:
Respiratory_yearly = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllRespiratory_yearly_all.csv')

In [14]:
Respiratory_yearly[:5]

,Unnamed: 0,Disease,year,lsoa11,n,DSR,lcl,ucl,score,rank,decile
0,0,All Respiratory,2009,E01015272,12.0,738.839172,367.731018,1312.295532,11.430000,22492,7
1,1,All Respiratory,2009,E01015273,25.0,1500.134521,896.891479,2314.249512,33.619999,6665,3
2,2,All Respiratory,2009,E01015274,20.0,1518.648193,919.455261,2356.864258,20.290001,13991,5
3,3,All Respiratory,2009,E01015275,28.0,2429.869873,1573.156006,3566.883301,19.780001,14447,5
4,4,All Respiratory,2009,E01015276,32.0,2487.559082,1609.623413,3631.377686,26.400000,10063,4

In [15]:
Respiratory_yearly = Respiratory_yearly[['Disease', 'year', 'n', 'DSR', 'lcl', 'ucl', 'score', 'rank', 'decile', 'lsoa11']]

In [17]:
Resp_MSOA = Respiratory_yearly.merge(MSOA, on='lsoa11', how = 'left')

In [18]:
Resp_MSOA[:5]

,Disease,year,n,DSR,lcl,ucl,score,rank,decile,lsoa11,LSOA11NM,MSOA11CD,MSOA11NM
0,All Respiratory,2009,12.0,738.839172,367.731018,1312.295532,11.430000,22492,7,E01015272,Bournemouth 016A,E02003187,Bournemouth 016
1,All Respiratory,2009,25.0,1500.134521,896.891479,2314.249512,33.619999,6665,3,E01015273,Bournemouth 016B,E02003187,Bournemouth 016
2,All Respiratory,2009,20.0,1518.648193,919.455261,2356.864258,20.290001,13991,5,E01015274,Bournemouth 018A,E02003189,Bournemouth 018
3,All Respiratory,2009,28.0,2429.869873,1573.156006,3566.883301,19.780001,14447,5,E01015275,Bournemouth 016C,E02003187,Bournemouth 016
4,All Respiratory,2009,32.0,2487.559082,1609.623413,3631.377686,26.400000,10063,4,E01015276,Bournemouth 016D,E02003187,Bournemouth 016

In [20]:
Resp_MSOA.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Resp_MSOA_Y.csv')

# Aggregate HES data by MSOA

In [ ]:
# Calculate the mean LSOA DSR and other variables for each MSOA
Circ_MSOA_av = Circ_MSOA.groupby(['MSOA11CD', 'year']).mean()

In [20]:
Circ_MSOA_av[:5]

                    n          DSR          lcl          ucl      score  \
MSOA11CD  year
E02003172 2009  32.25  2100.370209  1417.459991  2988.778076  26.565001
          2010  32.50  2139.151032  1447.119873  3038.756592  26.565001
          2011  35.50  2147.124787  1478.728516  3007.287781  26.565001
          2012  30.00  1785.906372  1192.912796  2572.614197  26.565001
          2013  28.25  1660.585755  1089.866989  2420.125732  26.565001

                    rank  decile
MSOA11CD  year
E02003172 2009  10375.25    3.75
          2010  10375.25    3.75
          2011  10375.25    3.75
          2012  10375.25    3.75
          2013  10375.25    3.75

In [24]:
Circ_MSOA_av.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Circ_MSOA_av_Y.csv')

In [22]:
Resp_MSOA_av = Resp_MSOA.groupby(['MSOA11CD', 'year']).mean()

In [23]:
Resp_MSOA_av[:5]

                    n          DSR          lcl          ucl      score  \
MSOA11CD  year
E02003172 2009  25.25  1639.548615  1052.674149  2431.510559  26.565001
          2010  25.00  1668.720489  1074.699928  2470.240570  26.565001
          2011  22.75  1465.752594   910.013000  2227.035369  26.565001
          2012  26.00  1703.621643  1094.486679  2521.322144  26.565001
          2013  23.50  1509.064026   945.535507  2278.027405  26.565001

                    rank  decile
MSOA11CD  year
E02003172 2009  10375.25    3.75
          2010  10375.25    3.75
          2011  10375.25    3.75
          2012  10375.25    3.75
          2013  10375.25    3.75

In [28]:
Resp_MSOA_av.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Resp_MSOA_av_Y.csv')

# Merging AP and HES data

In [25]:
MSOA_HES = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Circ_MSOA_av_Y.csv')

In [26]:
MSOA_HES[:2]

,MSOA11CD,year,n,DSR,lcl,ucl,score,rank,decile
0,E02003172,2009,32.25,2100.370209,1417.459991,2988.778076,26.565001,10375.25,3.75
1,E02003172,2010,32.50,2139.151032,1447.119873,3038.756592,26.565001,10375.25,3.75

In [27]:
MSOA_HES = MSOA_HES.rename(columns={'MSOA11CD':'msoa11'})

In [28]:
MSOA_AP = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Yearly_PM25_MSOA.csv')

In [29]:
MSOA_AP[:2]

   Unnamed: 0        time       MSOA      value  year
0           0  2009-12-31  E02004133  13.056116  2009
1           1  2010-12-31  E02004133   9.329807  2010

In [30]:
MSOA_AP = MSOA_AP.rename(columns={'MSOA':'msoa11', 'value':'PM25'})

In [31]:
MSOA_AP = MSOA_AP[['time', 'msoa11', 'PM25', 'year']]

In [32]:
MSOA_Circ_AP = pd.merge(MSOA_HES, MSOA_AP, on=['year', 'msoa11'], how='inner')

In [33]:
MSOA_Circ_AP[:2]

,msoa11,year,n,DSR,lcl,ucl,score,rank,decile,time,PM25
0,E02003172,2009,32.25,2100.370209,1417.459991,2988.778076,26.565001,10375.25,3.75,2009-12-31,12.749812
1,E02003172,2010,32.50,2139.151032,1447.119873,3038.756592,26.565001,10375.25,3.75,2010-12-31,10.286688

In [38]:
MSOA_Circ_AP.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\MSOA_Circ_AP_Y.csv')

# Calculate correlation and regression between the variables

In [34]:
MSOA_Circ_AP.corr()

,year,n,DSR,lcl,ucl,score,rank,decile,PM25
year,1.000000,-0.028684,-0.137017,-0.105537,-0.146399,-0.000011,-0.000024,-0.000031,-0.125567
n,-0.028684,1.000000,0.478360,0.712383,0.156764,-0.134394,0.120619,0.122288,0.112536
DSR,-0.137017,0.478360,1.000000,0.908081,0.900733,0.300258,-0.298834,-0.297632,0.116602
lcl,-0.105537,0.712383,0.908081,1.000000,0.639261,0.207820,-0.216821,-0.216318,0.142529
ucl,-0.146399,0.156764,0.900733,0.639261,1.000000,0.333570,-0.322346,-0.320710,0.069938
score,-0.000011,-0.134394,0.300258,0.207820,0.333570,1.000000,-0.966643,-0.964475,0.188211
rank,-0.000024,0.120619,-0.298834,-0.216821,-0.322346,-0.966643,1.000000,0.998114,-0.196235
decile,-0.000031,0.122288,-0.297632,-0.216318,-0.320710,-0.964475,0.998114,1.000000,-0.194531
PM25,-0.125567,0.112536,0.116602,0.142529,0.069938,0.188211,-0.196235,-0.194531,1.000000

In [35]:
model = ols("DSR ~  PM25", data=MSOA_Circ_AP)
Circulatory_results = model.fit()
Circulatory_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.014
Model:                            OLS   Adj. R-squared:                  0.013
Method:                 Least Squares   F-statistic:                     23.27
Date:                Sat, 17 Sep 2016   Prob (F-statistic):           1.54e-06
Time:                        13:59:17   Log-Likelihood:                -12656.
No. Observations:                1690   AIC:                         2.532e+04
Df Residuals:                    1688   BIC:                         2.533e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept   1482.7909     73.675     20.126      0.000      1338.286  1627.296
PM25          27.2458      5.649      4.824      0.000        16.167    38.325
==============================================================================
Omnibus:                      111.855   Durbin-Watson:                   0.849
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              133.271
Skew:                           0.661   Prob(JB):                     1.15e-29
Kurtosis:                       3.379   Cond. No.                         91.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [36]:
model = ols("DSR ~  PM25 + score", data=MSOA_Circ_AP)
Circulatory_results = model.fit()
Circulatory_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.094
Model:                            OLS   Adj. R-squared:                  0.093
Method:                 Least Squares   F-statistic:                     87.41
Date:                Sat, 17 Sep 2016   Prob (F-statistic):           7.56e-37
Time:                        13:59:20   Log-Likelihood:                -12584.
No. Observations:                1690   AIC:                         2.517e+04
Df Residuals:                    1687   BIC:                         2.519e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept   1444.7523     70.702     20.434      0.000      1306.079  1583.426
PM25          14.5566      5.514      2.640      0.008         3.742    25.371
score         12.3612      1.011     12.227      0.000        10.378    14.344
==============================================================================
Omnibus:                      114.003   Durbin-Watson:                   0.890
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              138.146
Skew:                           0.648   Prob(JB):                     1.00e-30
Kurtosis:                       3.529   Cond. No.                         158.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Repeat the steps for respiratory disease

In [44]:
MSOA_HES_Resp = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Resp_MSOA_av_Y.csv')

In [45]:
MSOA_HES_Resp = MSOA_HES_Resp.rename(columns={'MSOA11CD':'msoa11'})

In [46]:
MSOA_HES_Resp[:5]

,msoa11,year,n,DSR,lcl,ucl,score,rank,decile
0,E02003172,2009,25.25,1639.548615,1052.674149,2431.510559,26.565001,10375.25,3.75
1,E02003172,2010,25.00,1668.720489,1074.699928,2470.240570,26.565001,10375.25,3.75
2,E02003172,2011,22.75,1465.752594,910.013000,2227.035369,26.565001,10375.25,3.75
3,E02003172,2012,26.00,1703.621643,1094.486679,2521.322144,26.565001,10375.25,3.75
4,E02003172,2013,23.50,1509.064026,945.535507,2278.027405,26.565001,10375.25,3.75

In [47]:
MSOA_Resp_AP = pd.merge(MSOA_HES_Resp, MSOA_AP, on=['year', 'msoa11'], how='inner')

In [48]:
MSOA_Resp_AP[:10]

,msoa11,year,n,DSR,lcl,ucl,score,rank,decile,time,PM25
0,E02003172,2009,25.25,1639.548615,1052.674149,2431.510559,26.565001,10375.25,3.75,2009-12-31,12.749812
1,E02003172,2010,25.00,1668.720489,1074.699928,2470.240570,26.565001,10375.25,3.75,2010-12-31,10.286688
2,E02003172,2011,22.75,1465.752594,910.013000,2227.035369,26.565001,10375.25,3.75,2011-12-31,13.628633
3,E02003172,2012,26.00,1703.621643,1094.486679,2521.322144,26.565001,10375.25,3.75,2012-12-31,11.570073
4,E02003172,2013,23.50,1509.064026,945.535507,2278.027405,26.565001,10375.25,3.75,2013-12-31,10.440694
5,E02003173,2009,31.75,1952.006531,1246.825241,2879.732910,24.574999,12806.75,4.50,2009-12-31,12.504022
6,E02003173,2010,31.25,1982.868896,1268.611328,2914.091004,24.574999,12806.75,4.50,2010-12-31,10.185468
7,E02003173,2011,30.50,1763.958832,1118.330689,2611.030152,24.574999,12806.75,4.50,2011-12-31,13.373140
8,E02003173,2012,32.75,1937.678833,1242.679016,2845.512634,24.574999,12806.75,4.50,2012-12-31,11.259059
9,E02003173,2013,30.75,1813.734833,1175.857315,2656.531982,24.574999,12806.75,4.50,2013-12-31,10.133547

In [49]:
MSOA_Resp_AP.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\MSOA_Resp_AP_Y.csv')

In [50]:
MSOA_Resp_AP.corr()

,year,n,DSR,lcl,ucl,score,rank,decile,PM25
year,1.000000e+00,0.072908,-0.034480,-0.004343,-0.060939,-1.023674e-18,4.057871e-19,-4.924915e-19,-0.125567
n,7.290755e-02,1.000000,0.776362,0.864561,0.636575,5.531106e-01,-5.314781e-01,-5.279086e-01,0.084845
DSR,-3.448050e-02,0.776362,1.000000,0.954313,0.966425,6.646331e-01,-6.301399e-01,-6.275780e-01,0.060623
lcl,-4.343284e-03,0.864561,0.954313,1.000000,0.846242,6.650733e-01,-6.347283e-01,-6.326076e-01,0.070890
ucl,-6.093855e-02,0.636575,0.966425,0.846242,1.000000,6.147025e-01,-5.781228e-01,-5.754393e-01,0.043936
score,-1.023674e-18,0.553111,0.664633,0.665073,0.614702,1.000000e+00,-9.666585e-01,-9.644969e-01,0.188220
rank,4.057871e-19,-0.531478,-0.630140,-0.634728,-0.578123,-9.666585e-01,1.000000e+00,9.981151e-01,-0.196218
decile,-4.924915e-19,-0.527909,-0.627578,-0.632608,-0.575439,-9.644969e-01,9.981151e-01,1.000000e+00,-0.194509
PM25,-1.255665e-01,0.084845,0.060623,0.070890,0.043936,1.882196e-01,-1.962181e-01,-1.945095e-01,1.000000

In [51]:
model = ols("DSR ~ PM25", data=MSOA_Resp_AP)
Respiratory_results = model.fit()
Respiratory_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.004
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     6.226
Date:                Sat, 17 Sep 2016   Prob (F-statistic):             0.0127
Time:                        14:00:49   Log-Likelihood:                -12972.
No. Observations:                1690   AIC:                         2.595e+04
Df Residuals:                    1688   BIC:                         2.596e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept   1340.4308     88.856     15.085      0.000      1166.151  1514.710
PM25          16.9988      6.812      2.495      0.013         3.637    30.360
==============================================================================
Omnibus:                      476.400   Durbin-Watson:                   0.651
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1383.413
Skew:                           1.440   Prob(JB):                    3.94e-301
Kurtosis:                       6.369   Cond. No.                         91.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [52]:
model = ols("DSR ~ PM25 + score", data=MSOA_Resp_AP)
Respiratory_results = model.fit()
Respiratory_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.446
Model:                            OLS   Adj. R-squared:                  0.445
Method:                 Least Squares   F-statistic:                     679.2
Date:                Sat, 17 Sep 2016   Prob (F-statistic):          4.16e-217
Time:                        14:00:52   Log-Likelihood:                -12476.
No. Observations:                1690   AIC:                         2.496e+04
Df Residuals:                    1687   BIC:                         2.497e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept   1233.3053     66.340     18.591      0.000      1103.189  1363.422
PM25         -18.7429      5.174     -3.623      0.000       -28.890    -8.595
score         34.8171      0.949     36.704      0.000        32.957    36.678
==============================================================================
Omnibus:                      249.829   Durbin-Watson:                   0.965
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              624.774
Skew:                           0.812   Prob(JB):                    2.15e-136
Kurtosis:                       5.496   Cond. No.                         158.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""