In [1]:
import pandas as pd
from statsmodels.formula.api import ols

# Nomenclature
- DSR- Age-standardised rate for hospital admissions
- lcl- Lower Confidence limit
- ucl- Upper Confidence limit
- score- Index of Multiple Deprivation Score
- rank- Index of Multiple Deprivation Rank
- decile- Index of Multiple Deprivation Decile

# Merging MSOA codes and HES
## Circulatory

In [2]:
Circulatory_yearly = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllCirculatory_yearly_all.csv')

In [5]:
Circulatory_yearly[:5]

,Disease,year,n,DSR,lcl,ucl,score,rank,decile,lsoa11
0,All Circulatory,2009,29.0,1379.819824,907.973938,2002.930054,11.430000,22492,7,E01015272
1,All Circulatory,2009,24.0,2712.837646,1679.499756,4116.159180,33.619999,6665,3,E01015273
2,All Circulatory,2009,30.0,2070.800049,1386.778442,2969.841064,20.290001,13991,5,E01015274
3,All Circulatory,2009,37.0,3559.793457,2480.718994,4939.573242,19.780001,14447,5,E01015275
4,All Circulatory,2009,15.0,1460.698853,791.767883,2447.211182,26.400000,10063,4,E01015276

In [4]:
Circulatory_yearly = Circulatory_yearly[['Disease', 'year', 'n', 'DSR', 'lcl', 'ucl', 'score', 'rank', 'decile', 'lsoa11']]

In [6]:
Circulatory_yearly.shape

(8229, 10)

In [7]:
MSOA = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\LSOA_MSOA_Codes.csv')

In [8]:
MSOA = MSOA.rename(columns={'LSOA11CD':'lsoa11'})

In [9]:
MSOA[:5]

      lsoa11             LSOA11NM   MSOA11CD            MSOA11NM
0  E01000001  City of London 001A  E02000001  City of London 001
1  E01000001  City of London 001A  E02000001  City of London 001
2  E01000001  City of London 001A  E02000001  City of London 001
3  E01000001  City of London 001A  E02000001  City of London 001
4  E01000003  City of London 001C  E02000001  City of London 001

In [10]:
MSOA.shape

(181408, 4)

In [11]:
MSOA = MSOA.drop_duplicates('lsoa11')

In [12]:
Circ_MSOA = Circulatory_yearly.merge(MSOA, on='lsoa11', how = 'left')

In [13]:
Circ_MSOA[:5]

,Disease,year,n,DSR,lcl,ucl,score,rank,decile,lsoa11,LSOA11NM,MSOA11CD,MSOA11NM
0,All Circulatory,2009,29.0,1379.819824,907.973938,2002.930054,11.430000,22492,7,E01015272,Bournemouth 016A,E02003187,Bournemouth 016
1,All Circulatory,2009,24.0,2712.837646,1679.499756,4116.159180,33.619999,6665,3,E01015273,Bournemouth 016B,E02003187,Bournemouth 016
2,All Circulatory,2009,30.0,2070.800049,1386.778442,2969.841064,20.290001,13991,5,E01015274,Bournemouth 018A,E02003189,Bournemouth 018
3,All Circulatory,2009,37.0,3559.793457,2480.718994,4939.573242,19.780001,14447,5,E01015275,Bournemouth 016C,E02003187,Bournemouth 016
4,All Circulatory,2009,15.0,1460.698853,791.767883,2447.211182,26.400000,10063,4,E01015276,Bournemouth 016D,E02003187,Bournemouth 016

In [13]:
Circ_MSOA.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Circ_MSOA_Y.csv')

## Respiratory

In [14]:
Respiratory_yearly = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllRespiratory_yearly_all.csv')

In [15]:
Respiratory_yearly[:5]

,Unnamed: 0,Disease,year,lsoa11,n,DSR,lcl,ucl,score,rank,decile
0,0,All Respiratory,2009,E01015272,12.0,738.839172,367.731018,1312.295532,11.430000,22492,7
1,1,All Respiratory,2009,E01015273,25.0,1500.134521,896.891479,2314.249512,33.619999,6665,3
2,2,All Respiratory,2009,E01015274,20.0,1518.648193,919.455261,2356.864258,20.290001,13991,5
3,3,All Respiratory,2009,E01015275,28.0,2429.869873,1573.156006,3566.883301,19.780001,14447,5
4,4,All Respiratory,2009,E01015276,32.0,2487.559082,1609.623413,3631.377686,26.400000,10063,4

In [16]:
Respiratory_yearly = Respiratory_yearly[['Disease', 'year', 'n', 'DSR', 'lcl', 'ucl', 'score', 'rank', 'decile', 'lsoa11']]

In [17]:
Respiratory_yearly.shape

(8230, 10)

In [18]:
Resp_MSOA = Respiratory_yearly.merge(MSOA, on='lsoa11', how = 'left')

In [19]:
Resp_MSOA[:5]

,Disease,year,n,DSR,lcl,ucl,score,rank,decile,lsoa11,LSOA11NM,MSOA11CD,MSOA11NM
0,All Respiratory,2009,12.0,738.839172,367.731018,1312.295532,11.430000,22492,7,E01015272,Bournemouth 016A,E02003187,Bournemouth 016
1,All Respiratory,2009,25.0,1500.134521,896.891479,2314.249512,33.619999,6665,3,E01015273,Bournemouth 016B,E02003187,Bournemouth 016
2,All Respiratory,2009,20.0,1518.648193,919.455261,2356.864258,20.290001,13991,5,E01015274,Bournemouth 018A,E02003189,Bournemouth 018
3,All Respiratory,2009,28.0,2429.869873,1573.156006,3566.883301,19.780001,14447,5,E01015275,Bournemouth 016C,E02003187,Bournemouth 016
4,All Respiratory,2009,32.0,2487.559082,1609.623413,3631.377686,26.400000,10063,4,E01015276,Bournemouth 016D,E02003187,Bournemouth 016

In [20]:
Resp_MSOA.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Resp_MSOA_Y.csv')

# Aggregate HES data by MSOA

In [21]:
Circ_MSOA_av = Circ_MSOA.groupby(['MSOA11CD', 'year']).mean()

In [22]:
Circ_MSOA_av[:5]

                    n          DSR          lcl          ucl      score  \
MSOA11CD  year
E02003172 2009  32.25  2100.370209  1417.459991  2988.778076  26.565001
          2010  32.50  2139.151032  1447.119873  3038.756592  26.565001
          2011  35.50  2147.124787  1478.728516  3007.287781  26.565001
          2012  30.00  1785.906372  1192.912796  2572.614197  26.565001
          2013  28.25  1660.585755  1089.866989  2420.125732  26.565001

                    rank  decile
MSOA11CD  year
E02003172 2009  10375.25    3.75
          2010  10375.25    3.75
          2011  10375.25    3.75
          2012  10375.25    3.75
          2013  10375.25    3.75

In [23]:
Circ_MSOA_av.corr()

               n       DSR       lcl       ucl     score      rank    decile
n       1.000000  0.478360  0.712383  0.156764 -0.134394  0.120619  0.122288
DSR     0.478360  1.000000  0.908081  0.900733  0.300258 -0.298834 -0.297632
lcl     0.712383  0.908081  1.000000  0.639261  0.207820 -0.216821 -0.216318
ucl     0.156764  0.900733  0.639261  1.000000  0.333570 -0.322346 -0.320710
score  -0.134394  0.300258  0.207820  0.333570  1.000000 -0.966643 -0.964475
rank    0.120619 -0.298834 -0.216821 -0.322346 -0.966643  1.000000  0.998114
decile  0.122288 -0.297632 -0.216318 -0.320710 -0.964475  0.998114  1.000000

In [24]:
Circ_MSOA_av.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Circ_MSOA_av_Y.csv')

In [25]:
Resp_MSOA_av = Resp_MSOA.groupby(['MSOA11CD', 'year']).mean()

In [26]:
Resp_MSOA_av[:5]

                    n          DSR          lcl          ucl      score  \
MSOA11CD  year
E02003172 2009  25.25  1639.548615  1052.674149  2431.510559  26.565001
          2010  25.00  1668.720489  1074.699928  2470.240570  26.565001
          2011  22.75  1465.752594   910.013000  2227.035369  26.565001
          2012  26.00  1703.621643  1094.486679  2521.322144  26.565001
          2013  23.50  1509.064026   945.535507  2278.027405  26.565001

                    rank  decile
MSOA11CD  year
E02003172 2009  10375.25    3.75
          2010  10375.25    3.75
          2011  10375.25    3.75
          2012  10375.25    3.75
          2013  10375.25    3.75

In [27]:
Resp_MSOA_av.corr()

               n       DSR       lcl       ucl     score      rank    decile
n       1.000000  0.776362  0.864561  0.636575  0.553111 -0.531478 -0.527909
DSR     0.776362  1.000000  0.954313  0.966425  0.664633 -0.630140 -0.627578
lcl     0.864561  0.954313  1.000000  0.846242  0.665073 -0.634728 -0.632608
ucl     0.636575  0.966425  0.846242  1.000000  0.614702 -0.578123 -0.575439
score   0.553111  0.664633  0.665073  0.614702  1.000000 -0.966659 -0.964497
rank   -0.531478 -0.630140 -0.634728 -0.578123 -0.966659  1.000000  0.998115
decile -0.527909 -0.627578 -0.632608 -0.575439 -0.964497  0.998115  1.000000

In [28]:
Resp_MSOA_av.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Resp_MSOA_av_Y.csv')

# Merging AP and HES data

In [29]:
MSOA_HES = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Circ_MSOA_av_Y.csv')

In [30]:
MSOA_HES[:2]

,MSOA11CD,year,n,DSR,lcl,ucl,score,rank,decile
0,E02003172,2009,32.25,2100.370209,1417.459991,2988.778076,26.565001,10375.25,3.75
1,E02003172,2010,32.50,2139.151032,1447.119873,3038.756592,26.565001,10375.25,3.75

In [31]:
MSOA_HES = MSOA_HES.rename(columns={'MSOA11CD':'msoa11'})

In [32]:
MSOA_AP = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Yearly_PM25_MSOA.csv')

In [33]:
MSOA_AP[:2]

   Unnamed: 0        time       MSOA      value  year
0           0  2009-12-31  E02004133  13.056116  2009
1           1  2010-12-31  E02004133   9.329807  2010

In [34]:
MSOA_AP = MSOA_AP.rename(columns={'MSOA':'msoa11', 'value':'PM25'})

In [35]:
MSOA_AP = MSOA_AP[['time', 'msoa11', 'PM25', 'year']]

In [36]:
MSOA_Circ_AP = pd.merge(MSOA_HES, MSOA_AP, on=['year', 'msoa11'], how='inner')

In [37]:
MSOA_Circ_AP[:2]

,msoa11,year,n,DSR,lcl,ucl,score,rank,decile,time,PM25
0,E02003172,2009,32.25,2100.370209,1417.459991,2988.778076,26.565001,10375.25,3.75,2009-12-31,12.749812
1,E02003172,2010,32.50,2139.151032,1447.119873,3038.756592,26.565001,10375.25,3.75,2010-12-31,10.286688

In [38]:
MSOA_Circ_AP.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\MSOA_Circ_AP_Y.csv')

In [39]:
MSOA_Circ_AP.corr()

,year,n,DSR,lcl,ucl,score,rank,decile,PM25
year,1.000000,-0.028684,-0.137017,-0.105537,-0.146399,-0.000011,-0.000024,-0.000031,-0.125567
n,-0.028684,1.000000,0.478360,0.712383,0.156764,-0.134394,0.120619,0.122288,0.112536
DSR,-0.137017,0.478360,1.000000,0.908081,0.900733,0.300258,-0.298834,-0.297632,0.116602
lcl,-0.105537,0.712383,0.908081,1.000000,0.639261,0.207820,-0.216821,-0.216318,0.142529
ucl,-0.146399,0.156764,0.900733,0.639261,1.000000,0.333570,-0.322346,-0.320710,0.069938
score,-0.000011,-0.134394,0.300258,0.207820,0.333570,1.000000,-0.966643,-0.964475,0.188211
rank,-0.000024,0.120619,-0.298834,-0.216821,-0.322346,-0.966643,1.000000,0.998114,-0.196235
decile,-0.000031,0.122288,-0.297632,-0.216318,-0.320710,-0.964475,0.998114,1.000000,-0.194531
PM25,-0.125567,0.112536,0.116602,0.142529,0.069938,0.188211,-0.196235,-0.194531,1.000000

In [52]:
model = ols("DSR ~  PM25", data=MSOA_Circ_AP)
Circulatory_results = model.fit()
Circulatory_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.014
Model:                            OLS   Adj. R-squared:                  0.013
Method:                 Least Squares   F-statistic:                     23.27
Date:                Sat, 10 Sep 2016   Prob (F-statistic):           1.54e-06
Time:                        21:18:03   Log-Likelihood:                -12656.
No. Observations:                1690   AIC:                         2.532e+04
Df Residuals:                    1688   BIC:                         2.533e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept   1482.7909     73.675     20.126      0.000      1338.286  1627.296
PM25          27.2458      5.649      4.824      0.000        16.167    38.325
==============================================================================
Omnibus:                      111.855   Durbin-Watson:                   0.849
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              133.271
Skew:                           0.661   Prob(JB):                     1.15e-29
Kurtosis:                       3.379   Cond. No.                         91.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [49]:
model = ols("DSR ~  PM25 + score", data=MSOA_Circ_AP)
Circulatory_results = model.fit()
Circulatory_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.094
Model:                            OLS   Adj. R-squared:                  0.093
Method:                 Least Squares   F-statistic:                     87.41
Date:                Sat, 10 Sep 2016   Prob (F-statistic):           7.56e-37
Time:                        21:16:52   Log-Likelihood:                -12584.
No. Observations:                1690   AIC:                         2.517e+04
Df Residuals:                    1687   BIC:                         2.519e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept   1444.7523     70.702     20.434      0.000      1306.079  1583.426
PM25          14.5566      5.514      2.640      0.008         3.742    25.371
score         12.3612      1.011     12.227      0.000        10.378    14.344
==============================================================================
Omnibus:                      114.003   Durbin-Watson:                   0.890
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              138.146
Skew:                           0.648   Prob(JB):                     1.00e-30
Kurtosis:                       3.529   Cond. No.                         158.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [41]:
MSOA_HES_Resp = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Resp_MSOA_av.csv')

In [42]:
MSOA_HES_Resp = MSOA_HES_Resp.rename(columns={'MSOA11CD':'msoa11'})

In [43]:
MSOA_HES_Resp[:5]

,msoa11,year,month,n,DSR,lcl,ucl,score,rank,decile
0,E02003172,2009,1,5.0,223.234146,54.443128,607.369141,29.110001,8796.666667,3.333333
1,E02003172,2009,2,NaN,195.561577,39.814646,572.760834,31.475001,7590.500000,3.000000
2,E02003172,2009,3,NaN,136.016276,19.786146,454.011149,29.110001,8796.666667,3.333333
3,E02003172,2009,4,NaN,119.464529,18.915072,435.506355,26.565001,10375.250000,3.750000
4,E02003172,2009,5,NaN,134.464751,18.021936,481.987610,26.565001,10375.250000,3.750000

In [44]:
MSOA_Resp_AP = pd.merge(MSOA_HES_Resp, MSOA_AP, on=['year', 'msoa11'], how='inner')

In [45]:
MSOA_Resp_AP[:10]

,msoa11,year,month,n,DSR,lcl,ucl,score,rank,decile,time,PM25
0,E02003172,2009,1,5.0,223.234146,54.443128,607.369141,29.110001,8796.666667,3.333333,2009-12-31,12.749812
1,E02003172,2009,2,NaN,195.561577,39.814646,572.760834,31.475001,7590.500000,3.000000,2009-12-31,12.749812
2,E02003172,2009,3,NaN,136.016276,19.786146,454.011149,29.110001,8796.666667,3.333333,2009-12-31,12.749812
3,E02003172,2009,4,NaN,119.464529,18.915072,435.506355,26.565001,10375.250000,3.750000,2009-12-31,12.749812
4,E02003172,2009,5,NaN,134.464751,18.021936,481.987610,26.565001,10375.250000,3.750000,2009-12-31,12.749812
5,E02003172,2009,6,5.0,198.925947,40.144129,608.429573,26.565001,10375.250000,3.750000,2009-12-31,12.749812
6,E02003172,2009,7,NaN,85.377220,13.026614,413.473277,26.565001,10375.250000,3.750000,2009-12-31,12.749812
7,E02003172,2009,8,NaN,65.699850,5.555063,419.812510,26.565001,10375.250000,3.750000,2009-12-31,12.749812
8,E02003172,2009,9,NaN,58.384464,1.478167,325.297409,26.565001,10375.250000,3.750000,2009-12-31,12.749812
9,E02003172,2009,10,NaN,163.605881,35.633637,507.295238,26.565001,10375.250000,3.750000,2009-12-31,12.749812

In [46]:
MSOA_Resp_AP.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\MSOA_Resp_AP_Y.csv')

In [47]:
MSOA_Resp_AP.corr()

,year,month,n,DSR,lcl,ucl,score,rank,decile,PM25
year,1.000000,-0.134919,0.001505,-0.026002,0.001426,-0.055790,-0.001780,0.001557,0.001589,-0.096479
month,-0.134919,1.000000,0.050838,-0.001394,0.014357,-0.004254,0.000390,-0.000016,0.000043,-0.002981
n,0.001505,0.050838,1.000000,0.267295,0.437180,0.147594,0.093316,-0.088794,-0.087586,-0.000239
DSR,-0.026002,-0.001394,0.267295,1.000000,0.706791,0.877921,0.333915,-0.314150,-0.312413,0.012879
lcl,0.001426,0.014357,0.437180,0.706791,1.000000,0.383902,0.295044,-0.282801,-0.281310,0.023424
ucl,-0.055790,-0.004254,0.147594,0.877921,0.383902,1.000000,0.263680,-0.244062,-0.243129,-0.007447
score,-0.001780,0.000390,0.093316,0.333915,0.295044,0.263680,1.000000,-0.964139,-0.961334,0.183993
rank,0.001557,-0.000016,-0.088794,-0.314150,-0.282801,-0.244062,-0.964139,1.000000,0.997575,-0.192084
decile,0.001589,0.000043,-0.087586,-0.312413,-0.281310,-0.243129,-0.961334,0.997575,1.000000,-0.190532
PM25,-0.096479,-0.002981,-0.000239,0.012879,0.023424,-0.007447,0.183993,-0.192084,-0.190532,1.000000

In [51]:
model = ols("DSR ~ PM25", data=MSOA_Resp_AP)
Respiratory_results = model.fit()
Respiratory_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     3.693
Date:                Sat, 10 Sep 2016   Prob (F-statistic):             0.0546
Time:                        21:17:41   Log-Likelihood:            -1.2882e+05
No. Observations:               22266   AIC:                         2.577e+05
Df Residuals:                   22264   BIC:                         2.577e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept    152.5339      3.741     40.769      0.000       145.200   159.867
PM25           0.5511      0.287      1.922      0.055        -0.011     1.113
==============================================================================
Omnibus:                    16091.489   Durbin-Watson:                   1.421
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           883935.686
Skew:                           2.915   Prob(JB):                         0.00
Kurtosis:                      33.311   Cond. No.                         93.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [50]:
model = ols("DSR ~ PM25 + score", data=MSOA_Resp_AP)
Respiratory_results = model.fit()
Respiratory_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.114
Model:                            OLS   Adj. R-squared:                  0.114
Method:                 Least Squares   F-statistic:                     1431.
Date:                Sat, 10 Sep 2016   Prob (F-statistic):               0.00
Time:                        21:17:02   Log-Likelihood:            -1.2748e+05
No. Observations:               22266   AIC:                         2.550e+05
Df Residuals:                   22263   BIC:                         2.550e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept    144.4200      3.525     40.965      0.000       137.510   151.330
PM25          -2.1508      0.275     -7.831      0.000        -2.689    -1.612
score          2.5916      0.048     53.466      0.000         2.497     2.687
==============================================================================
Omnibus:                    17161.117   Durbin-Watson:                   1.601
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1359039.175
Skew:                           3.103   Prob(JB):                         0.00
Kurtosis:                      40.767   Cond. No.                         162.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""